# Python
*.pyc
__pycache__/
venv/
.venv/
*.egg-info/
dist/
build/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.local
.env.*.local

# Compiled files
*.pyo
*.pyd
*.so
*.dll

# Logs and databases
*.log
*.sqlite3
*.db

# Miscellaneous
.DS_Store
Thumbs.db
